.state-container {
  display: flex;
  justify-content: space-between;
}

.app-container {
  width: 50rem;
  height: 50rem;
  padding: 5rem;
  text-align: center;
}

.img-container {
  width: 50rem;
  height: 20rem;
  text-align: center;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem;
}

.buttons-container > button {
  width: 4rem;
  height: 4rem;
}

.like-btn {
  background: url("/src/img/like.jpg") no-repeat center center/cover;
}

.dislike-btn {
  background: url("/src/img/dislike.jpg") no-repeat center center/cover;
}
