.state-container {
  display: flex;
  justify-content: center;
}

.app-container {
  width: 50rem;
  height: 50rem;
  padding: 5rem;
  text-align: center;
}

.img-container {
  width: 50rem;
  height: 20rem;
  text-align: center;
}
